*{
    margin: 0;
    padding: 0;
}

img{

    height: 300px;
    top: 200;
    left: 1030px;
    border-radius: 10px;
}

body{  
    background-color: blanchedalmond;
 
}
.main_container{
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    gap: 10%;
}

.lado_esquerdo{
    width: 70%;
}

@media (max-width: 1024px) {
    
    .main_container{
        flex-direction:column-reverse ;
    }

}